:root {
    --swiper-theme-color: #ffc107 !important;
}

.scrollable-container {
    overflow: scroll; 
    height: 300px;
}
.search-icon {
    left: 15px;
 }
 .sidebar {
    width: 14vw;
 }
 .swiper-slide {
  text-align: center;
  background: #fff;
}
.swiper-scrollbar-drag{background: orange;}