:root {
    --swiper-theme-color: #ffc107 !important;
}

.scrollable-container {
    overflow: scroll; 
    height: 300px;
}
.search-icon {
    left: 15px;
 }
 .sidebar {
    width: 14vw;
 }

 .swiper {
    width: 60%;
    height: 100px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #753a3a;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }