.content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}

.img-product {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
}

.content-product {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 4;
}

.content-product h1 {
    font-size: 120px;
    font-weight: bold;
}

.content-product p {
    font-size: 30px;
}